
<div class="outer-container">
    <div class="container">
        <div *ngIf="err && status===500" class="alert alert-danger my-5" role="alert">
            <strong>An Error Occured </strong>{{msg}}
          </div>
          <div *ngIf="err && status!==500" class="alert alert-success my-5" role="alert">
            <strong>Success </strong>{{msg}}
          </div>
      <h1>Login</h1>
      <form [formGroup]="exform" (ngSubmit)="onSubmit()">
        <div class="textbox">
          <i class="fas fa-envelope"></i>
          <input [(ngModel)]="user.email" formControlName="email" type="text" placeholder="Email Id"><br>
          <small *ngIf="email && email.invalid && email.touched" class="text-danger">Email is mandatory</small>
        </div>
        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input [(ngModel)]="user.password" formControlName="password" type="password" placeholder="Password">
          <small *ngIf="password && password.invalid && password.touched" class="text-danger">Password is required</small>
        </div>
        <input [disabled]="exform.invalid" type="submit" class="btn" value="Login">
      </form>
  
    </div>
  </div>
  