*{
    font-family: sans-serif;
  }

  .banner{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(src/assets/images/car-insurance.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  .navbar{
    margin: auto;
    padding: 10px 0;
  }

  .logo{
    width: 150px;
    cursor: pointer;
  }

  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 10px 0;
  }

  .navbar-toggler-icon{
    font-size: 21px;
    background-color: #fff;
  }

  .navbar-toggler{
    font-size: 21px;
    background: #fff;
  }

  .navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor:pointer;
  }

  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }

  .navbar ul li:hover::after{
    width: 100%;
  }

  .container{
    color:whitesmoke;
    margin-top:110px;
    width:100%;
    background-color:gray;
    position: relative;
    border-radius: 10px;
  }

.btn{
  padding: 10px 50px;
}


