<div class="banner">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <div class="container-fluid">
            <img src="assets/images/CarLogo.jpg" alt="" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
             <ul class="navbar-nav ms-auto">
                <li><a (click)="viewLoan()">Applied Loans</a></li>
                <li><a (click)="trackLoan()">Loan Details</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
  
      <div class="content" id="statusGrid1">
        <div class="row my-3">
          <div class="col-md-4 py-3"><strong>Applicant Name: </strong>{{applicantName}}</div>
          <div class="col-md-4 py-3"><strong>Applicant Phone Number: </strong>{{applicantMobile}}</div>
          <div class="col-md-4 py-3"><strong>Applicant Pan Number: </strong>{{applicantPan}}</div>
        </div>
        <div class="row my-3">
          <div class="col-md-4 py-3"><strong>Applicant Address: </strong>{{applicantAddress}}</div>
          <div class="col-md-4 py-3"><strong>Applicant Loan Id: </strong>{{loanId}}</div>
          <div class="col-md-4 py-3"><strong>Applicant Salary: </strong>{{applicantSalary}}</div>
        </div>
        <div class="row my-3">
          <div class="col-md-4 py-3"><strong>Applicant Email: </strong>{{applicantEmail}}</div>
          <div class="col-md-4 py-3"><strong>Applicant Aadhar: </strong>{{applicantAadhar}}</div>
          <div class="col-md-3 py-3">
            <button *ngIf="approved===false" class="btn btn-success mx-3" (click)="approveLoan()">Approve</button>
            <button *ngIf="approved===true" class="btn btn-success mx-3" disabled>Approved</button>
            <button *ngIf="rejected===false" class="btn btn-danger" (click)="rejectLoan()">Reject</button>
            <button *ngIf="rejected===true" class="btn btn-danger mx-3" disabled>Rejected</button>
          </div>
        </div>
      </div>
  </div>
  